
.container-contactus {width: 400px;
margin: 0px auto ;
}

.container-contacttus h2 {margin-top: 0px;
	margin-bottom: 30px;
}

.container-contactus p { margin: 20px 0px ;

}

#wedo { margin-top:45px;
 }

.contactus {display: flex;
margin: 75px 50px;
}


