.container-seemoreaboutus {
	display: flex;
	margin: 30px 50px;
}

.container-seemoreaboutus img { 
width: 180px;
height: 180px;
margin-top: 40px;
 }


 .container-text-seemoreaboutus {
 	margin: 10px 50px;
 }

  .container-text-seemoreaboutus p {
margin: 40px 0px;
 }

