.container-aboutus {
	display: flex;
	margin: 30px 50px;
}

.container-aboutus img { 
width: 180px;
height: 180px;
margin-top: 40px;
 }


 .container-text-aboutus {
 	margin: 10px 50px;
 }

  .container-text-aboutus p {
margin: 40px 0px;
 }

 .container-aboutus h3 {font-size: 30px;
 }

