.container-productsheet {display: flex;
	justify-content: space-between;
	margin: 0px 185px;
}

.container-productsheet img {width: 450px;
height: 300px;
}

.container-productsheet p {width: 450px;
height: 300px;
padding-top: 20px;
}

.button-shopit {display: flex;
width: 450px;
margin: 90px 0px;
margin-right: 20px;
}

.button-shopit p {font-size: 20px;
	height: 100%;
	padding: 0px;
		margin-top: 5px;

}

.button-shopit h1 {font-size: 20px;
	width: 197px;
	background-color:#F3EEEE;
	height: 30px;
	letter-spacing: 12px;
	border-radius: 10px;
	font-weight: 700;
	padding: 25px;
}

.button-shopit a {margin: 20px 30px}