
.container-contactus {width: 400px;
margin: 0px auto ;
}

.container-contactus h2 {margin-top: 0px;
	margin-bottom: 30px;
}

.container-contactus p { margin: 20px 0px ;

}

#wedo { margin-top:35px;
	text-align: center;
 }

.contactus {display: flex;
margin: 75px 50px;
}


