.form {width: 475px ;
	margin: 0px auto ;
}

.form p { margin: 40px auto;
}

.form h2 {margin: 0px
}

input, label {display: block;}

label {font-family: Montserrat;
padding-bottom: 8px;
}

input { font-family: Montserrat;
border-color: skyblue;
width: 357px;
height: 35px;
display: inline-block
}

#message {height: 150px;
}

.buttons-form {background-color: #0057B8;
color:white;
width: 150px;
font-weight: 700;
height: 50px;
font-size: 20px;
border-radius: 50px;
}

.buttons-form a {color:white;
}

#button-aboutus {width:auto;
height:25px;
padding: 12px 28px;
margin: 15px auto;
}

#button-submit {margin: 15px auto;
}

.container-form {display: flex;
	width: 370px;
}

#map {margin: 0px 20px;
}